In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('wines_SPA.csv')

In [3]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [4]:
df.shape

(7500, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB

In [6]:
df.describe()

            rating   num_reviews        price         body      acidity
count  7500.000000   7500.000000  7500.000000  6331.000000  6331.000000
mean      4.254933    451.109067    60.095822     4.158427     2.946612
std       0.118029    723.001856   150.356676     0.583352     0.248202
min       4.200000     25.000000     4.990000     2.000000     1.000000
25%       4.200000    389.000000    18.900000     4.000000     3.000000
50%       4.200000    404.000000    28.530000     4.000000     3.000000
75%       4.200000    415.000000    51.350000     5.000000     3.000000
max       4.900000  32624.000000  3119.080000     5.000000     3.000000

In [7]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df1=df
for column in df1.columns:
    if df1[column].dtype == 'object':  
        df1[column] = label_encoder.fit_transform(df1[column])

In [8]:
import category_encoders as ce

binary_encoder = ce.BinaryEncoder(cols=['column'])
df_binary = binary_encoder.fit_transform(df['column'])

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,422,759,61,4.9,58,0,69,995.00,19,5.0,3.0
1,33,819,66,4.9,31,0,74,313.50,18,4.0,2.0
2,447,778,57,4.8,1793,0,57,324.95,11,5.0,3.0
3,447,778,47,4.8,1705,0,57,692.96,11,5.0,3.0
4,447,778,44,4.8,1309,0,57,778.06,11,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7495,159,619,64,4.2,392,0,59,19.98,12,4.0,3.0
7496,158,440,66,4.2,390,0,53,16.76,9,4.0,3.0
7497,334,302,65,4.2,390,0,24,24.45,10,4.0,3.0
7498,316,342,59,4.2,389,0,57,64.50,11,5.0,3.0
7499,406,596,64,4.2,388,0,57,31.63,11,5.0,3.0

In [10]:
!pip install category_encoders

Collecting category_encoders
  Obtaining dependency information for category_encoders from https://files.pythonhosted.org/packages/7f/e5/79a62e5c9c9ddbfa9ff5222240d408c1eeea4e38741a0dc8343edc7ef1ec/category_encoders-2.6.3-py2.py3-none-any.whl.metadata
  Downloading category_encoders-2.6.3-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.24.3)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.3.0)
Requirement already satisfied: scipy>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.11.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pandas>=1.0.5 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\users\hp\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.1)
Downloading category_encoders-2.6.3-py2.py3-none-any.whl (81 kB)
   ---------------------------------------- 0.0/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/81.9 kB ? eta -:--:--
   -------------------- ------------------- 41.0/81.9 kB 109.3 kB/s eta 0:00:01
   -------------------- ------------------- 41.0/81.9 kB 109.3 kB/s eta 0:00:01
   ----------------------------------- ---- 71.7/81.9 kB 171.1 kB/s eta 0:00:01
   ---------------------------------------- 81.9/81.9 kB 183.6 kB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.3

In [11]:
import category_encoders as ce
df2=df
for column in df2.columns:
    if df2[column].dtype == 'object':  
        binary_encoder = ce.BinaryEncoder(cols=['column'])
        df_binary = binary_encoder.fit_transform(df['column'])

In [12]:
df2

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,422,759,61,4.9,58,0,69,995.00,19,5.0,3.0
1,33,819,66,4.9,31,0,74,313.50,18,4.0,2.0
2,447,778,57,4.8,1793,0,57,324.95,11,5.0,3.0
3,447,778,47,4.8,1705,0,57,692.96,11,5.0,3.0
4,447,778,44,4.8,1309,0,57,778.06,11,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7495,159,619,64,4.2,392,0,59,19.98,12,4.0,3.0
7496,158,440,66,4.2,390,0,53,16.76,9,4.0,3.0
7497,334,302,65,4.2,390,0,24,24.45,10,4.0,3.0
7498,316,342,59,4.2,389,0,57,64.50,11,5.0,3.0
7499,406,596,64,4.2,388,0,57,31.63,11,5.0,3.0